html {
  font-size: 62.5%; 
  background-color: rgb(246,246,246);
}
body {
  font-size: 2em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  margin: 0;
  padding: 0;
}

a{
  color: #ce9927;
  /*text-decoration: none;*/
}
a:hover{
  color: orange;
}

header{
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
}

nav{
  text-align: center;
  font-size: 1.5rem;
  font-family: "HelveticaNeue";
}
nav a{
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  display: inline;
}

main{
  margin: 4rem 21% 0rem 21%;
}
/* removing giant gaps after header*/
h2{
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
}




#about{
  display: block;
}
#about img{
  padding-right: 2rem;
  width: 18vw;
  float: left;
}
#about p{
  overflow:hidden;
  text-align: justify;
}
.golden{
  color: #ce9927;
}
#about mark{
  background-color: turquoise;
}



#projectlist li{ 
  overflow: auto; 
}
#projectlist img{ 
  float: left; 
  width: 100px; 
  max-height: 10rem;
  margin: 0; 
  transition: .4s; 
}
#projectlist img:hover{ 
  transform: scale(6) translateX(50%); 
  position: absolute; 
}
#projectlist p{ 
  float: right; 
  margin: 0; 
  width: 600px;
}
#projectlist h4{ 
  clear: both; 
}
#projectlist li:hover{ 
  background-color: #0002;
}

.collapsible { 
  cursor: pointer; 
  margin: 0;
  padding: 0;
}
.content { 
  padding: 10px; 
  display: none; 
  overflow: hidden; 
  background-color: #0001; 
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: left;
    margin-right: 5px;
}
.active:after { content: "\2796"; /* Unicode character for "minus" sign (-) */ }



/*Internship section*/
#internships ul{
  margin-top: 0px;
}

/*#internships ul li h4{
  margin-bottom: 0px;
  line-height: 0.5;
}
#internships ul li p{
  margin-top: 0px;
}
#internships ul li a{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}*/



#contact{
  text-align: center;
  padding: 30px;
  padding-bottom: 10px;
  background-color: #0001;
  font: 400 14px / 1.5 'Roboto', sans-serif;
}
#contact p{
  line-height: 1;
  padding: 10px;
  margin: 0;
}
#contact span{
  padding: 0;
  margin: 0;
}


/* Adding dark mode */
@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(41,41,46);
  } 
  body {
    background-color: rgb(41,41,46);
    color: #ccc;
  }
}
