/*
For blog/project 
*/
html{
  background-color: rgb(246,246,246);

}

@import url(emacs.css);
body { 
  padding: 0;
  margin:0;
  font-family: 'Roboto', sans-serif; 
  color: #333; 
}

/*body{
  background-color: #222;
  color: #e6e6e6;
  border-color: #e6e6e6;
}*/

h1 { 
  font-size: 35px; 
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

h2 { 
  font-size: 25px; 
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  color: black;
}

a { 
  color: #dc8100; 
  text-decoration: none; 
}
a:hover { 
  color: #333;
  text-decoration: none; 
}
::selection{
    background: orange;
}
#header{  
  width: 100%;
  height: 70px;
  background-color: #0001;
  line-height: 70px;
}
#header a{
  font-weight: 800;
  text-decoration: none;
  color: #ce9927;
  padding-left: 50px;
}

article{
  width: 50%;
  margin: 0 auto;
  font-family: 'Adamina', serif;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 30px;
}

img{
  display: block;
  margin: 0 auto;
  max-height:80vh;
  max-width: 75%;
  padding-bottom: 0px;
  margin-bottom:0px;
}

iframe{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 33.3vw;
}

#description{
  margin: 0 auto;
  padding-bottom: 0;
}

#description p{
  font-family: 'Lato', serif;
  font-size: 10px;
  line-height: 1.3;
  overflow: auto;
  padding-left: 10px;
  color: #707070;
}
#description img{
  float: left;
  height: 62px;
  width: auto;
}
.date{
  color: black;
  font-weight: bold;
}

/* Figure captions are marked in the markdown with asterisk */
img + em {
  font-style: italic;
  font-size: smaller;
  float:right;
  text-align: center;
  width:80%;
  padding-bottom: 15px;
  padding-left: 10%;
  padding-right: 10%;
}

video + em {
  font-style: italic;
  font-size: smaller;
  float:right;
  text-align: center;
  width:80%;
  padding-bottom: 15px;
  padding-left: 10%;
  padding-right: 10%;
}

strong{
  color: black;
  font-weight: 900;
  font-style: bold;
}

#contact{
  text-align: center;
  padding: 30px;
  padding-bottom: 10px;
  background-color: #0001;
  font: 400 14px / 1.5 'Roboto', sans-serif;
}
#contact p{
  line-height: 1;
  padding: 10px;
  margin: 0;
}
#contact span{
  padding: 0;
  margin: 0;
}

.highlight pre{
  padding: 15px;
  overflow:scroll;
  background-color: #0001;
}

.table{
  width: 100%; 
  overflow: auto;
}
