html, body{ width:100%;}
body{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font: 400 14px / 1.5 "Helvetica Neue";
  color: black;
}
h1{
    font-size: 60px; 
    color: #ce9927; 
    margin: 0;
}

a{
    color: #ce9927;
    text-decoration: none;
    font-style: italic;
}
img{
    padding: 15px;
}

.slide{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #0001;
    position: relative;
    z-index: 2;
    padding: 50px;
    border-radius: 15px;
}

#particles-js {
    padding: 0;
    margin: 0;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 100vh;
}