html, body{ width:100%; overflow-x:hidden; }
body{
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
  font: 20px Helvetica, sans-serif;
  color: #333;
}
img{ z-index: 2;}
#logo{
  padding: 0;
  margin: 0;
  background: yellow;
  position: fixed;
  width: 70px;
  top: 0;
  left: 0;
}
#particles-js {
  padding: 0;
  margin: 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
  height: 50vw;
}

article{
  text-align: left;
  width: 800px;
  margin: 0 auto;
  padding: 75px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.standard{
  display: block; text-align: left; width: 650px; margin: 0 auto;
}

h1{ margin-top: 0; font-size: 60px; color: #333; }
a { position: relative; color: black; background-color: yellow; text-decoration: none; }
a:hover { opacity: 0.7; text-decoration: none; }

#firstSlide{ margin: 0; height: 50vw; width: 100vw; background: white; }
#firstSlide article { padding: 150px; width: 650px; display: absolute; text-align: center; }

#secondSlide{ margin: 0; width: 100vw; background: black; }
#secondSlide article{ padding: 150px; color: white; width: 800px; font-family: Helvetica, sans-serif; }
#Profile{ float: left; padding-right: 20px; }

#thirdSlide{ margin: 0; width: 100vw; }
li{ overflow: auto; }
#projectlist img{ float: left; width: 100px; margin: 0; transition: .4s; }
#projectlist img:hover{ transform: scale(6) translateX(50%); position: absolute; }
#projectlist p{ float: right; margin: 0; width: 600px;}
#projectlist h3{ clear: both; }
#projectlist li:hover{ background-color: gainsboro;}

.collapsible { cursor: pointer; }
.content { padding: 10px; display: none; overflow: hidden; background-color: #f1f1f1; }
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: left;
    margin-right: 5px;
}
.active:after { content: "\2796"; /* Unicode character for "minus" sign (-) */ }

#groupsleft li{ font-weight: bold; line-height: 2; }
#groupsright li{ line-height: 2; }
#groupsleft{ float: left; }
#groupsright{ float: right; }
