---
title: My page
layout: main
---
<!-- made by Andrew Mourcos -->
<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113919105-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113919105-2');
    </script>
  <!-- smooth scrolling script -->
    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
              // Store hash
              var hash = this.hash;
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 1200, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
      </script>

  <meta charset="utf-8">
  <title>Andrew Mourcos - Engineering student, Waterloo</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="Particles/particles.js"></script>
</head>

<body>
  <div class="slide">
    <div id="particles-js"></div>
    <script type="text/javascript" src="Particles/particle-config.js"></script>
    <div class="box">
      <img id="profile_pic" src="Media/Profile2.JPG">
      <h1>Andrew Mourcos</h1>
      <hr style="width: 170px; height:1px; border:none;color:#333;background-color:#333;">
      <p>
        I'm a <strong>Mechatronics Engineering</strong> student at the University of Waterloo. 
        <br> Here, you can learn more <a href="#section2">about me</a> and check out some of my past <a href="#projects">projects</a>!

      </p>
      <a class="btn" href="#projects">Projects</a>
      <a class="btn" href="/resume.html">Resume</a>

      <!-- <a class="btn" href="Media/CV3.pdf">Resume</a> -->
    </div>
    <div class="downArrow bounce">
      <a href="#section2">&#x25BC;</a>
    </div>
  </div>

  <div id="section2">
    <div id="box2">
      <img src="Media/img2.jpg">
      <div id="sidetext">
        <h2>About me</h2>
        <p>
          I'm a sophomore at UWaterloo, studying Mechatronics Engineering and seeking internships for Fall 2020. I am currently working with InvisionAI as a Deep Learning Engineer for embedded platforms. 
          <br><br>
          In the past, I've worked on the Charging Cavaliers physics team at CERN, UW's design team UWAFT, and as a machine learning intern at PerkinElmer.
          <br><br>
          When I'm not working, I like to build autonomous robots, play squash, and play table-tennis.
          
          <br><br>
          <a class="btn" href="/resume.html">Resume</a>

        </p>
      </div>
    </div>
  </div>

  <section id="projects">
    <h2>Projects</h2>
    <ul>
      {% for post in site.categories.projects %}
        <div class="container">
          <a href="{{post.url}}">
            <li>
              <img src="{{post.img}}">
              <div class="overlay">
                <h4>{{post.title}}</h4>
                <hr width="150px">
                <p><i> {{ post.tag}} </i></p>
                <br><br>
                <p>{{ post.description | truncatewords:15 }}</p>
                <br>
                <p><i>Read more →</i></p>
              </div>
            </li>
          </a>
        </div>
      {% endfor %}
    </ul>
  </section>
  
  <section id="projects">
      <h2>Posts</h2>
      <ul>
        {% for post in site.categories.blog %}
          <div class="container">
            <a href="{{post.url}}">
              <li>
                <img src="{{post.img}}">
                <div class="overlay">
                  <h4>{{post.title}}</h4>
                  <hr width="150px">
                  <p><i> {{ post.tag}} </i></p>
                  <br><br>
                  <p>{{ post.description | truncatewords:15 }}</p>
                  <br>
                  <p><i>Read more →</i></p>
                </div>
              </li>
            </a>
          </div>
        {% endfor %}
      </ul>
    </section>

  <section id="contact">
    <p>I'd love to answer any questions you might have!</p>
    <a href="mailto:amourcos@uwaterloo.ca?Subject=I saw your website">amourcos@uwaterloo.ca</a>
    <hr width="200px">
    <br>
    <span>Copyright © 2020 Andrew Mourcos</span>
    <p style="font-weight: 200;"><a href="https://github.com/andrewmourcos">GITHUB</a> | <a href="https://www.linkedin.com/in/andrew-mourcos/">LINKEDIN</a></p>
    <br>
  </section>

</body>
</html>
