---
title: project page
layout: main
---
<!-- This is the grid view of my projects -->
<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DED6JYJ5PB"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DED6JYJ5PB');
  </script>
  
	<title>Andrew Mourcos | Projects</title>
  <link rel="stylesheet" href="css/project_page_style.css">
</head>

<body>
  <div id="header">
    <a href="/index.html#projects">↩ return</a>
  </div>

  <h2>Projects</h2>

  
	<section id="projects">
    
    <ul id="all">
      {% for post in site.categories.projects %}
        <div class="container">
          <a href="{{post.url}}">
            <li>
              {% if post.video %}
                <video src="{{ post.video }}" autoplay loop muted playsinline></video>
              {% else %}
                <img src="{{ post.img }}">
              {% endif %}
              <div class="overlay">
                <h4>{{post.title}}</h4>
                <hr width="150px">
                <p><i> {{ post.tag}} </i></p>
                <br><br>
                <p>{{ post.description | truncatewords:15 }}</p>
                <br>
                <p><i>Read more →</i></p>
              </div>
            </li>
          </a>
        </div>
      {% endfor %}
    </ul>

  </section>

</body>

</html>