<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/Volumes/SuperBook/Developper/GitHub/andrewmourcos.github.io/BlogStyle.css">
  </head>
  <body>
    <div id="TopPart"><!--title, profile-->
      <img src="/Volumes/SuperBook/Developper/GitHub/andrewmourcos.github.io/Profile.png" alt="Profile" height="180px"/>
      <h1>
        ANDREW
        <span style="font-weight: lighter;"> MOURCOS </span>
      </h1>
    </div>
    <ul id="nav">
      <li class="home"><a href="#"> HOME </a></li>
      <li class="about"><a href="#"> ABOUT</a></li>
      <li class="Posts"><a href="#"> POSTS</a></li>
      <li class="cv"><a href="#"> CV</a></li>
    </ul>
    {{ content }}
  </body>
</html>
