<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Adamina|Lato" rel="stylesheet">
	<link rel="stylesheet" href="/css/post-style.css">
	<script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	{% include analytics.html %}
</head>
<body>
	<div id="header">
		<a href="/index.html#projects">↩ return</a>
	</div>

	<article>
		<div id="description">
			<img src="/Media/Profile2.JPG">
			<p>
				<span class="date"><strong>Date:</strong> {{page.date | date_to_string}}</span>
				<br>
				<strong>Description:</strong> {{page.description}}
				<br>
				<strong>Tags:</strong> {{page.tag}}
				<br>
				<strong>Tools:</strong> {{page.tools}} 
			</p>
		</div>
		<h1>{{page.title}}</h1>
		{{page.content}}
		
	</article>

	<section id="contact">	    
	    <span>Copyright © 2020 Andrew Mourcos</span>
	    <p style="font-weight: 200;"><a href="https://github.com/andrewmourcos">GITHUB</a> | <a href="https://www.linkedin.com/in/andrew-mourcos/">LINKEDIN</a> | <a href="mailto:amourcos@uwaterloo.ca?Subject=I saw your website">EMAIL</a></p>
	    <br>
	</section>
</body>
</html>