<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="/css/style2.css">
</head>
<body>
	<div id="header">
		<a href="/index.html#projects">↩ return</a>
	</div>

	<div id="content">
		<div class="media">
			<span>
				<img src="/{{page.img}}">
				<div id="iframe">{{page.img2}}</div>
				<div id="iframe">{{page.img3}}</div>
				
			</span>
		</div>
		<div class="article">
			<h1>{{page.title}}</h1>
			<p id="description">
				<strong>Date:</strong> <i>{{page.date | date_to_string}}</i>
				<br>
				<strong>Tags:</strong> <i>{{page.tag}}</i>
				<br>
				<strong>Decription:</strong> <i>{{page.description}}</i>
				<br>
				<strong>Tools & Technologies:</strong> <i>{{page.tools}}</i>
			</p>
			<br>
			<p>{{content}}</p>
		</div>
	</div>
	
</body>
</html>