<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Adamina|Lato" rel="stylesheet">
	<link rel="stylesheet" href="/css/style2.css">
</head>
<body>
	<div id="header">
		<a href="/index.html#projects">↩ return</a>
	</div>

	<article>
		<div id="description">
			<img src="/Media/Profile2.JPG">
			<p>
				<span class="date"><strong>Date:</strong> {{page.date | date_to_string}}</span>
				<br>
				<strong>Description:</strong> {{page.description}}
				<br>
				<strong>Tags:</strong> {{page.tag}}
				<br>
				<strong>Tools:</strong> {{page.tools}} 
			</p>
		</div>
		<h1>{{page.title}}</h1>
		{{page.content}}
		
	</article>
	
</body>
</html>